* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.2;
  background-color: #fff;
}

/*#region UTILITIES */

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.wrap {
    flex-wrap: wrap;
}
.white {
  color: #fff;
}

.black {
  background-color: #23272a !important;
  color: white !important;
}

.fontlarge {
  color: #23272a;
  font-size: 28px;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-around {
    align-items: center;
    justify-content: space-around;
}

.flex-between {
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.red {
    background-color: red;
    color: white;
}
.green {
    background-color: green;
    color: white;
}
/*#endregion UTILITIES */

/*#region HEADER*/
header {
    width: 100%;
    position: fixed;
    background-color: #FF6900;
    z-index: 1;
}

.header > div { /*Divido lo spazio*/
    flex-basis: calc(100% / 3 - 20px);
}

.header {
    flex-basis: 70px;    
    justify-content: space-between;

}


.category > a, .social > a {
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

.logo > img {
    max-width: 100px;
}
/*#endregion HEADER*/

main {
    padding-top: 120px
}

/*#region Cards *****/

    section {
        position: relative;
        margin: 20px
    }

/*#region card text *****/
    .marca {
        font-size: 0.8rem
    }
    .nome {
        font-size: 1rem;
        font-weight: bold;
    }
    .prezzo, .tagliato{
        color:red;
        font-weight: bold;
        font-size: 0.8rem;
        margin-right: 0.2rem;
    }

    .tagliato {
        color:black;
        text-decoration: line-through;
        font-weight: normal;
    }

    .badges{
        position: absolute;
        bottom: 85px;
        left: 10px;
    }

    .badges {
        width: 50%
    }

    .badges > p {
        padding: 5px 3px;
        font-size: 0.8rem;
        font-weight: bold;
        margin-right: 0.2rem;
    }

    .heart {
        display: inline-block;
        width: 30px;
        line-height: 30px;
        font-size: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: white;
        border: 1px solid #FF6900;
        position: absolute;
        right: 10px;
        top: 10px;
        user-select: none;
        cursor: pointer;
        
    }

    .heart:hover {
        color: red;
    }
    .heart:active {
        background-color: red;
        color: white;
    }

/*#endregion card text *****/

.images img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}

 .images:hover img:nth-child(2) {
    visibility: visible;
    opacity: 1;

}



.cards > section {
    width: calc(100% / 3 - 40px);
}

section img {
    width: 100%;
    height: auto;
}

/*#endregion End Cards *****/